@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CustomFont' !important;
    src: url('/src/assets/font/TT-Fors-Trial-Regular.woff2') format('woff2'),
    url('/src/assets/font/TT-Fors-Trial-Regular.woff') format('woff'),
    url('/src/assets/font/TT-Fors-Trial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .scroll::-webkit-scrollbar {
    width: 5px; /* Scroll genişliyi */
  }
  
  .scroll::-webkit-scrollbar-track {
    background: #f0f0f0; /* Arxa fon */
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color: #190303; /* Tutacaq rəngi */
    border-radius: 5px; /* Dairəvi kənarlar */
  }

  body {
    font-family: 'CustomFont', sans-serif ;
  }
.hover-menu:hover{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hover-menu:hover .mega-menu{
    display: flex;
}
.hover-menu:hover header{
    height: 60vh;
}
.mobileCatSlider .swiper-pagination-bullet-active{
    background-color: #00BAD3 !important;
    width: 15px !important;
    border-radius: 7px !important;
    height: 3px;
    opacity: 1 !important;
}
.mobileCatSlider .swiper-pagination-bullet{
    background-color: #00BAD3 !important;
    opacity: .5;
    height: 3px;
    border-radius: 10px;
    width: 3px;
    margin: 0 1px !important;
}
.mobileCatSlider .swiper-pagination{
    text-align: start;
}
.mobileCatSlider .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    left: 5%;
    bottom: 7%;
}
.mega-menu{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    border-top-right-radius: 20px;
}
.search {
    caret-color: #00BAD3;
}

.mainSlider .swiper-pagination-bullet-active {
    background-color: #fff !important;
    width: 22px !important;
    border-radius: 5px !important;
}

.mainSlider .swiper-pagination {
    width: 250px !important;
    background: #88878737;
    z-index: 99;
    border-radius: 50px;
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%);
    bottom: 15px !important;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.mainSlider .swiper-button-prev,
.mainSlider .swiper-button-next {
    background-color: #00BAD3;
    border-radius: 50%;
    top: 45% !important;
    padding: 20px;
}

.mainSlider .swiper-button-next {
    margin-right: -23px;
}

.mainSlider .swiper-button-prev {
    margin-left: -23px;
}
.marks .swiper-button-next, .marks .swiper-button-prev{
    color: #000 !important;

}
.marks .swiper-button-next:after, .marks .swiper-button-prev:after{
    font-size: 1em !important;
    font-weight: 600 !important;

}
.marks .swiper-button-next{
    right: 0 !important;
    box-shadow: -20px 0 13px 30px #f3f6faae;
    background: #f3f6fac7;
    z-index: 999;

}

.marks .swiper-button-prev{
    left: 0 !important;
    box-shadow: 20px 0 13px 30px #f3f6faae;
    background: #f3f6fac7;
    z-index: 999;
}
.catSlider .swiper-button-prev {
    box-shadow: -10px 0 40px 30px #f3f6faf6;
    background: #f3f6fae3;
    top: 40%;
    left: 5px;
    transform: translateY(-50%);
}
.catSlider .swiper-button-next {
    box-shadow: 10px 0 40px 30px #f3f6fa;
    background: #f3f6fab0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    margin-right: 10px;
}

.mainSlider {
    --swiper-theme-color: #fff !important;
    --swiper-navigation-size: 12px !important;
}

.catSlider {
    --swiper-theme-color: #000 !important;
    --swiper-navigation-size: 15px !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 750px;
        margin: auto;
    }
    .ucuz-fiyatlar{
        background: url('./assets/img/mobil-web.jpg') center/cover no-repeat;
        height: 100vh;
    }
}
@media only screen and (min-width: 1024px) {
    .wrapper {
        max-width: 980px;
        margin: auto;
    }
    .ucuz-fiyatlar{
        background: url('./assets/img/desktop.jpg') center/cover no-repeat;
        height: 50vh;
    }
    
}
@media only screen and (min-width: 1280px) {
    .wrapper {
        max-width: 1210px;
        margin: auto;
    }
}
